{% extends 'base.html.twig' %}
{% block title %}
    {{ 'Welcome to TODO list' |trans|raw }}
{% endblock %}
{% block body %}
    <main>
        <h2>{{ 'An effective way to plan your future'|trans|raw }}</h2>
        <p>{{ 'Plan your future with our TODO list. Track your progress!'|trans|raw }}</p>
    </main>
{% endblock %}
