
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);
@import "tailwindcss" prefix(tw);

@theme {
    --color-primary: #1A237E;
    --color-secondary: #03A9F4;
    --color-dark: #0F172A;
    --color-light: #F8FAFC;
    --color-text-main: #1E293B;
    --color-text-gray: #64748B;
    --icon-size: 1.5rem;
    --font-display: "Nunito", sans-serif;
    --font-text: "Inter", sans-serif;
}

:root {
    font-family: "Inter", sans-serif;
}

html, body {
    background-color: #fff;
}
