{% extends 'base.html.twig' %}

{% block title %} Dashboard {% endblock %}

{% block body %}
    <section>
        <h1>{{ 'Your tasks' | trans }} </h1>
        <div {{ react_component('Dashboard', {id: user_id}) }}>
            <div id="root"></div>
        </div>
    </section>
{% endblock %}
