{% extends 'base.html.twig' %}

{% block title %} Dashboard {% endblock %}

{% block body %}
    <section>
        <div {{ react_component('Dashboard', {id: user_id, host: app.request.getHttpHost}) }}>
            <div id="root"></div>
        </div>
    </section>
{% endblock %}
